// Colors
$color-danger: #ff5136;
$color-success: #00aa5c;

$color-primary: #1e90ff;
$color-secondary: #adc4fb;
$color-tertiary: #e3f0ff;

$color-accent: #c4a774;

$color-grey-dark: #333;
$color-grey-light: #f2f2f2;

$color-black: #000;
$color-white: #fff;

// fonts
$font-brand: 'GrinchedRegular', sans-serif;
$font-default: 'Lato', sans-serif;
