@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
	font-family: 'Grinched';
	font-style: normal;
	font-weight: 400;
	src: local('Grinched'),
		url('../../../../static/fonts/GrinchedRegular.woff') format('woff');
}
